> Вам представлены данные (в формате csv) об отчётах очевидцев НЛО в США за период с 1930 по 2020 год.

> В данных есть следующие признаки:

> - "City" — город, где был замечен НЛО;

> - "Colors Reported" — цвет объекта;

> - "Shape Reported" — форма объекта;

> - "State" — обозначение штата;

> - "Time" — время, когда был замечен НЛО (данные отсортированы от старых наблюдений к новым).

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('ufo.csv', sep=',')

In [4]:
df.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18241 entries, 0 to 18240
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             18216 non-null  object
 1   Colors Reported  2882 non-null   object
 2   Shape Reported   15597 non-null  object
 3   State            18241 non-null  object
 4   Time             18241 non-null  object
dtypes: object(5)
memory usage: 712.7+ KB

In [7]:
df['Date'] = pd.to_datetime(df['Time'])

In [10]:
df.drop(['Time'], axis=1, inplace=True)

In [14]:
df['Date'].dt.year.value_counts()

1999    2774
2000    2635
1998    1743
1995    1344
1997    1237
        ...
1936       2
1930       2
1935       1
1934       1
1933       1
Name: Date, Length: 68, dtype: int64

In [20]:
df[df['State']=='NV']['Date'].dt.date.diff().dt.days.mean()

68.92932862190813