In [2]:
import pandas as pd
import numpy as np

In [3]:
ratings1 = pd.read_csv('ratings1.csv')
ratings2 = pd.read_csv('ratings2.csv')
movies = pd.read_csv('movies.csv')
dates = pd.read_csv('dates.csv')

In [4]:
df = pd.concat([ratings1, ratings2])
df['date'] = dates['date']
df

       userId  movieId  rating                 date
0           1        1     4.0  2000-07-30 18:45:03
1           1        3     4.0  2000-07-30 18:20:47
2           1        6     4.0  2000-07-30 18:37:04
3           1       47     5.0  2000-07-30 19:03:35
4           1       50     5.0  2000-07-30 18:48:51
...       ...      ...     ...                  ...
60831     610   166534     4.0  2015-05-01 18:51:26
60832     610   168248     5.0  2015-05-01 18:58:56
60833     610   168250     5.0  2015-05-01 18:51:34
60834     610   168252     5.0  2015-05-01 18:58:40
60835     610   170875     3.0  2015-05-01 18:48:49

[100837 rows x 4 columns]

In [5]:
movies['title'].value_counts()

Emma (1996)                               2
War of the Worlds (2005)                  2
Confessions of a Dangerous Mind (2002)    2
Eros (2004)                               2
Saturn 3 (1980)                           2
                                         ..
Lost and Delirious (2001)                 1
Rape Me (Baise-moi) (2000)                1
Alice (1990)                              1
Another Woman (1988)                      1
Andrew Dice Clay: Dice Rules (1991)       1
Name: title, Length: 9737, dtype: int64

In [6]:
ratings1['userId'].value_counts()

68     1260
249    1046
182     977
177     904
232     862
       ...
189      20
194      20
207      20
53       20
257      20
Name: userId, Length: 274, dtype: int64

In [7]:
dates = pd.to_datetime(dates['date'])
dates.dt.year.value_counts()

2000    10061
2017     8198
2007     7114
2016     6703
2015     6616
2018     6418
1996     6040
2005     5813
2012     4656
2008     4351
2009     4158
2006     4059
2003     4014
2001     3922
2002     3478
2004     3279
1999     2439
2010     2301
1997     1916
2011     1690
2013     1664
2014     1439
1998      507
Name: date, dtype: int64

In [8]:
ratings1.tail(1)

       userId  movieId  rating
40000     274     5621     2.0

In [9]:
ratings2.head(1)

   userId  movieId  rating
0     274     5621     2.0

In [10]:
ratings = pd.concat([ratings1, ratings2], ignore_index = True)

In [11]:
ratings = ratings.drop_duplicates(ignore_index=True)

In [12]:
ratings_dates = pd.concat([ratings, dates], axis=1)

In [13]:
ratings_dates

        userId  movieId  rating                date
0            1        1     4.0 2000-07-30 18:45:03
1            1        3     4.0 2000-07-30 18:20:47
2            1        6     4.0 2000-07-30 18:37:04
3            1       47     5.0 2000-07-30 19:03:35
4            1       50     5.0 2000-07-30 18:48:51
...        ...      ...     ...                 ...
100831     610   166534     4.0 2017-05-03 21:53:22
100832     610   168248     5.0 2017-05-03 22:21:31
100833     610   168250     5.0 2017-05-08 19:50:47
100834     610   168252     5.0 2017-05-03 21:19:12
100835     610   170875     3.0 2017-05-03 21:20:15

[100836 rows x 4 columns]

In [14]:
import re 
def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	#очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None

In [15]:
ratings_dates['date'] = ratings_dates['date'].astype(dtype=str)

In [16]:
ratings_dates['year_release'] = ratings_dates['date'].apply(get_year_release)

In [17]:
ratings_dates['year_release'][0]

In [18]:
ratings_dates.isna().value_counts()

userId  movieId  rating  date   year_release
False   False    False   False  True            100836
dtype: int64

In [19]:
import os as os
cwd = os.getcwd()
os.listdir(cwd)

['dates.csv',
 'movies.csv',
 'movies.ipynb',
 'ratings1.csv',
 'ratings2.csv',
 'ratings_movies.csv']

In [20]:
rating_movies = pd.read_csv('ratings_movies.csv')

In [21]:
rating_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  100836 non-null  int64
 1   userId      100836 non-null  int64
 2   movieId     100836 non-null  int64
 3   rating      100836 non-null  float64
 4   date        100836 non-null  object
 5   title       100836 non-null  object
 6   genres      100836 non-null  object
dtypes: float64(1), int64(3), object(3)
memory usage: 5.4+ MB

In [22]:
rating_movies['title']

0                       Toy Story (1995)
1                Grumpier Old Men (1995)
2                            Heat (1995)
3            Seven (a.k.a. Se7en) (1995)
4             Usual Suspects, The (1995)
                       ...
100831                      Split (2017)
100832     John Wick: Chapter Two (2017)
100833                    Get Out (2017)
100834                      Logan (2017)
100835    The Fate of the Furious (2017)
Name: title, Length: 100836, dtype: object

In [23]:
rating_movies['year_release'] = rating_movies['title'].apply(get_year_release)

In [24]:
rating_movies['year_release'].isna().value_counts()

False    100818
True         18
Name: year_release, dtype: int64

In [25]:
rating_movies[rating_movies['year_release'] == 1999].groupby('title')['rating'].agg(func='mean', numeric_only=True).sort_values(ascending=True)

title
Bloodsport: The Dark Kumite (1999)            0.5
Simon Sez (1999)                              1.0
Chill Factor (1999)                           1.0
Source, The (1999)                            1.0
Trippin' (1999)                               1.0
                                             ...
Trailer Park Boys (1999)                      5.0
Larry David: Curb Your Enthusiasm (1999)      5.0
Sun Alley (Sonnenallee) (1999)                5.0
George Carlin: You Are All Diseased (1999)    5.0
Five Senses, The (1999)                       5.0
Name: rating, Length: 261, dtype: float64

In [26]:
rating_movies[rating_movies['year_release'] == 2010].groupby(by=['genres'])['rating'].agg(func='mean', numeric_only=True).sort_values(ascending=True)

genres
Action|Sci-Fi                        1.000000
Action|Adventure|Horror              1.500000
Action|Drama|Fantasy                 1.500000
Crime|Romance                        1.500000
Adventure|Comedy|Fantasy             1.833333
                                       ...
Crime                                4.750000
Comedy|Musical                       5.000000
Animation|Drama|Fantasy|Mystery      5.000000
Adventure|Children|Comedy|Mystery    5.000000
Animation|Children|Mystery           5.000000
Name: rating, Length: 119, dtype: float64

In [27]:
rating_movies.groupby('userId')['genres'].nunique().sort_values(ascending=False)

userId
599    524
414    482
448    403
380    399
474    395
      ...
578     15
12      15
85      13
214     13
245     13
Name: genres, Length: 610, dtype: int64

In [28]:
rating_movies.groupby('userId')['rating'].agg(func=['mean', 'count']).sort_values(by=['count', 'mean'], ascending=[True, False])

            mean  count
userId
53      5.000000     20
595     4.200000     20
189     4.100000     20
569     4.000000     20
278     3.875000     20
...          ...    ...
274     3.235884   1346
448     2.847371   1864
474     3.398956   2108
599     2.642050   2478
414     3.391957   2698

[610 rows x 2 columns]

In [29]:
rating = rating_movies[rating_movies['year_release']==2018].groupby('genres')['rating'].agg(func=['mean', 'count']).sort_values(by=['count', 'mean'], ascending=[True, False])

In [30]:
rating[rating['count']>10].sort_values(by='mean', ascending=False)

                             mean  count
genres
Action|Adventure|Sci-Fi  3.928571     14
Action|Comedy|Sci-Fi     3.875000     12

In [36]:
rating_movies['year_rating'] = pd.to_datetime(rating_movies['date']).dt.year

In [41]:
rating_movies

,Unnamed: 0,userId,movieId,rating,date,title,genres,year_release,year_rating
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995.0,2000
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance,1995.0,2000
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller,1995.0,2000
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995.0,2000
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995.0,2000
...,...,...,...,...,...,...,...,...,...
100831,100831,610,166534,4.0,2017-05-03 21:53:22,Split (2017),Drama|Horror|Thriller,2017.0,2017
100832,100832,610,168248,5.0,2017-05-03 22:21:31,John Wick: Chapter Two (2017),Action|Crime|Thriller,2017.0,2017
100833,100833,610,168250,5.0,2017-05-08 19:50:47,Get Out (2017),Horror,2017.0,2017
100834,100834,610,168252,5.0,2017-05-03 21:19:12,Logan (2017),Action|Sci-Fi,2017.0,2017
100835,100835,610,170875,3.0,2017-05-03 21:20:15,The Fate of the Furious (2017),Action|Crime|Drama|Thriller,2017.0,2017

In [44]:
rating_movies.pivot_table(values='rating', columns='genres', index='year_rating', aggfunc='mean' ).sort_values(by=['year_rating'], ascending=False)['Comedy']

year_rating
2018    3.121296
2017    2.852668
2016    3.373431
2015    3.106183
2014    3.271429
2013    3.489474
2012    3.478477
2011    3.232877
2010    3.179825
2009    3.273292
2008    3.426667
2007    2.928187
2006    3.347534
2005    2.963325
2004    3.356877
2003    3.120066
2002    3.198556
2001    3.318408
2000    3.141291
1999    3.606061
1998    3.000000
1997    3.409091
1996    3.228571
Name: Comedy, dtype: float64