In [1]:
import pandas as pd
import numpy as np

> - gender — пол; 

> - race/ethnicity — раса/этническая принадлежность;

> - parental level of education — уровень образования родителей;

> - lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);

> - test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);

> - math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.

In [6]:
studens_data = pd.read_csv('students_performance.csv', sep=',')

In [7]:
studens_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [8]:
studens_data.shape[0]

1000

In [12]:
studens_data['writing score'][155]

88

In [13]:
studens_data.count()

gender                         1000
race/ethnicity                 1000
parental level of education    1000
lunch                          1000
test preparation course        1000
math score                     1000
reading score                  1000
writing score                  1000
dtype: int64

In [14]:
studens_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [15]:
studens_data['math score'].mean()

66.089

In [20]:
studens_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

In [21]:
studens_data[studens_data['test preparation course'] == 'completed']['reading score'].mean()

73.89385474860335

In [23]:
studens_data[studens_data['math score'] == 0].shape[0]

1

In [28]:
studens_data[studens_data['lunch'] == 'standard']['math score'].mean()

70.03410852713178

In [29]:
studens_data[studens_data['lunch'] == 'free/reduced']['math score'].mean()

58.92112676056338

In [30]:
studens_data[studens_data['parental level of education'] == "bachelor's degree"].shape[0]/studens_data.shape[0]

0.118

In [34]:
studens_data[studens_data['race/ethnicity'] == 'group A']['writing score'].median() - studens_data[studens_data['race/ethnicity'] == 'group C']['writing score'].median()

-6.0