starttime — время начала поездки (дата, время);

stoptime — время окончания поездки (дата, время);

start station id — идентификатор стартовой стоянки;

start station name — название стартовой стоянки;

start station latitude, start station longitude — географическая широта и долгота стартовой стоянки;

end station id — идентификатор конечной стоянки;

end station name — название конечной стоянки;

end station latitude, end station longitude — географическая широта и долгота 
конечной стоянки;

bikeid — идентификатор велосипеда;

usertype — тип пользователя (Customer — клиент с подпиской на 24 часа или на три дня, Subscriber — подписчик с годовой арендой велосипеда);

birth year — год рождения клиента;

gender — пол клиента (0 — неизвестный, 1 — мужчина, 2 — женщина).

In [37]:
import pandas as pd
import numpy as np

In [38]:
citibike_df = pd.read_csv('citibike-tripdata.csv')

In [39]:
citibike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [40]:
citibike_df['start station id'].isnull().value_counts()

False    299831
True        169
Name: start station id, dtype: int64

In [41]:
citibike_df['start station id'].value_counts()

281.0     1928
2006.0    1909
519.0     1873
514.0     1845
426.0     1835
          ...
3432.0      15
3599.0      11
2005.0       9
3704.0       7
3583.0       6
Name: start station id, Length: 759, dtype: int64

In [42]:
citibike_df['bikeid'].value_counts()

33887    107
34358    104
34159    103
34258    103
33916    102
        ...
18587      1
17324      1
29593      1
33157      1
25794      1
Name: bikeid, Length: 10004, dtype: int64

In [43]:
citibike_df['usertype'].value_counts(normalize=True)

Subscriber    0.774007
Customer      0.225993
Name: usertype, dtype: float64

In [44]:
citibike_df['gender'].value_counts()

1    183582
2     74506
0     41912
Name: gender, dtype: int64

In [45]:
(citibike_df['birth year'] - 2018).max()

-16

In [46]:
citibike_df['birth year'].dtype

dtype('int64')

In [47]:
citibike_df['start station name'].value_counts()

Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: start station name, Length: 759, dtype: int64

In [48]:
citibike_df['end station name'].value_counts()

West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: end station name, Length: 765, dtype: int64

In [49]:
citibike_df = citibike_df.drop(['start station id', 'end station id'], axis=1)

In [51]:
citibike_df.head()

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [53]:
citibike_df['age'] = [2018] - citibike_df['birth year']

In [61]:
sum = 0
for i in citibike_df['age']:
    if i > 60:
        sum+=1
print(sum)

11837

In [67]:
citibike_df['starttime'] = pd.to_datetime(citibike_df['starttime'], yearfirst=True)
citibike_df['stoptime'] = pd.to_datetime(citibike_df['stoptime'], yearfirst=True)

In [69]:
citibike_df['trip duration'] = citibike_df['stoptime'] - citibike_df['starttime']

In [76]:
citibike_df['trip duration']

0        0 days 00:27:15.365000
1        0 days 00:02:12.200000
2        0 days 00:55:37.898000
3        0 days 00:07:16.837000
4        0 days 02:20:57.993000
                  ...
299995   0 days 00:07:23.648000
299996   0 days 00:11:33.138000
299997   0 days 00:05:12.997000
299998   0 days 00:56:00.092000
299999   0 days 00:03:45.051000
Name: trip duration, Length: 300000, dtype: timedelta64[ns]

In [80]:
days = citibike_df['starttime'].dt.day_of_week
work_days = [0,1,2,3,4]
new_var = citibike_df['weekend']
new_var = days.apply(lambda x: 0 if x in work_days else 1 )

In [82]:
citibike_df['weekend'].value_counts()

0    184865
1    115135
Name: weekend, dtype: int64

In [86]:
citibike_df['time_of_day'] = citibike_df['starttime'].dt.hour

In [92]:
citibike_df['time_of_day'] = citibike_df['time_of_day'].astype('int')
citibike_df.dtypes

starttime                   datetime64[ns]
stoptime                    datetime64[ns]
start station name                  object
start station latitude             float64
start station longitude            float64
end station name                    object
end station latitude               float64
end station longitude              float64
bikeid                               int64
usertype                            object
birth year                           int64
gender                               int64
age                                  int64
trip duration              timedelta64[ns]
weekend                              int64
time_of_day                          int32
dtype: object

In [102]:
def time_day(i):
    if i >= 0 and i <= 6:
        i = 'night'
    elif i > 6 and i <= 12:
        i = 'morning'
    elif i > 12 and i <= 18:
        i = 'day'
    elif i > 18 and i <= 23:
        i = 'evening'
    return i

In [103]:
citibike_df['time_of_day'] = citibike_df['time_of_day'].apply(time_day)

In [106]:
citibike_df['time_of_day'].value_counts()['day'] / citibike_df['time_of_day'].value_counts()['night']

9.480411004308916

day        143012
morning     95530
evening     46373
night       15085
Name: time_of_day, dtype: int64